@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Typography */

  .body-lg {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.15px;
  }
  .body-md {
    font-size: 14px;
    line-height: 1.42;
    font-weight: 500;
    letter-spacing: 0.25px;
  }
  .body-sm {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    letter-spacing: 0.4px;
  }
  .label-lg {
    font-size: 14px;
    line-height: 1.42;
    font-weight: 500;
    letter-spacing: 0.1px;
  }
  .label-md {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .label-sm {
    font-size: 11px;
    line-height: 1.45;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  .title-lg {
    font-size: 22px;
    line-height: 1.27;
  }
  .title-md {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.15px;
  }
  .title-sm {
    font-size: 14px;
    line-height: 1.42;
    font-weight: 500;
    letter-spacing: 0.1px;
  }
  .headline-lg {
    font-size: 32px;
    line-height: 1.25;
  }
  .headline-md {
    font-size: 28px;
    line-height: 1.28;
  }
  .headline-sm {
    font-size: 24px;
    line-height: 1.33;
  }
  .display-lg {
    font-size: 57px;
    line-height: 1.12;
  }
  .display-md {
    font-size: 45px;
    line-height: 1.15;
  }
  .display-sm {
    font-size: 36px;
    line-height: 1.22;
  }
  .container {
    position: relative;
    text-align: center;
    margin-left: 16px;
    background: #e41b17;
    border-radius: 6px;
    color: #fff;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  }
  .word {
    font-weight: bold;
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  @keyframes w1anim {
    0% {
      opacity: 0;
    }
    18% {
      opacity: 1;
    }
    36% {
      opacity: 0;
    }
  }

  @keyframes w2anim {
    36% {
      opacity: 0;
    }
    54% {
      opacity: 1;
    }
    72% {
      opacity: 0;
    }
  }

  @keyframes w3anim {
    72% {
      opacity: 0;
    }
    88% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .w1 {
    -webkit-animation: w1anim 14s infinite;
    animation: w1anim 14s infinite;
  }

  .w2 {
    -webkit-animation: w2anim 14s infinite;
    animation: w2anim 14s infinite;
  }

  .w3 {
    -webkit-animation: w3anim 14s infinite;
    animation: w3anim 14s infinite;
  }
}
